{% extends "layout.html" %}
{% block body %}

  <div class="container">
    <form class="form-signin" role="form" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="email" class="form-control" name="email" placeholder="Email address" required autofocus>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
      <input type="checkbox" name="remember_me"> Remember Me?<br /><br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <br />
      <a href="register">Click here to register.</a><br />
    </form>
  </div> <!-- /container -->

{% endblock %}
