{% extends "layout.html" %}
{% block body %}

  <div class="container">
    <form class="form-signin" role="form" method="post">
      <h2 class="form-signin-heading">Reset Password</h2>
      <input type="password" class="form-control" name="password1" placeholder="New Password" required autofocus>
      <input type="password" class="form-control" name="password2" placeholder="Confirm New Password" required autofocus>
      <input type="hidden" name="email" value="{{ email }}">
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Send Reset Link</button>
    </form>
  </div> <!-- /container -->

{% endblock %}
